body {
    background: #FFFFFF;
    color: #333;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    margin: 20px;
    padding: 5px;
    font-size: 12pt;
    text-align: left;
}

h3 {
    color: #515151;
    font-weight: lighter;
    font-size: 13pt;
}

tagline {
    font-weight: lighter;
    color: #aaa;
    font-size: 12pt;
}

header {
    overflow: hidden;
}

header img {
    float: left;
    padding: 20px;
    margin: -60px;
}

header h1 {
    float: left;
    margin: 0px;
    padding: 20px;
    color:#515151;
}

p::first-letter {
    font-size: 18pt;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}

nav li {
    float: right;
    margin-left: 10px;
}

nav li a {
    display:block;
    color: #515151;
    text-align: right;
    padding: 20px;
    text-decoration: none;
}

footer{
    position: relative;
    bottom: 2px;
    width: 100%;
    clear: both;
}

a:hover {
    background-color: #FDE7E7;
}

#active{
    color: #FFB9CB;
}

@media (max-width: 590px) {
    .heading img {
        height: 60px;}
    .heading {
        margin: 50px;
        font-size: 5px;
        padding: 5px;
    }
    .heading tagline {
        font-size: 4px;
    }
    .navigation ul{
        font-size: 5px;
    }
    }
    body{
        width: 75%;
    }

    footer {
        font-size: 5px;
        width:100%;
    }

@media (min-width: 590px) and (max-width: 790px)  {
    .heading img {
        height: 130px;}
    .heading {
        margin: 20px;
        font-size: 10px;
        padding: 5px;
    }
    .heading tagline {
        font-size: 8px;
    }

    .navigation ul{
        font-size: 10px;
        margin-bottom: 15px;
        margin-top: -12px;
    }

    footer {
        font-size: 10px;
        width: 100%;
    }
    
}

@media (min-width: 790px) {
    .heading img {
        height: 150px;}


}