article{
    margin: 20px;
    padding: 10px;
    overflow: auto;
}

h3 {
    padding-right: 40%;
}

#description{
    background-color: #F3F3F3;
}

ul {
    line-height: 30px;
}

*, ::after, ::before {
    box-sizing: content-box;
}


#overview {
    color: #515151;
    text-decoration: none;
}

@media (max-width: 590px){
    

    article {
        margin-top: -15px;
        margin-left: 5px;
    }

    article h2 a {
        font-size: 8pt;
        line-height: 1px;
    }

    h2{
        font-size: 8pt;
        line-height: 15px;
    }
    
    h3 {
        font-size: 7pt;
        width: 95%;
    }

    section {
        width: 100%;
        font-size: 7pt;
    }
    p {
        padding: 8px;
    }

    ul {
        padding: 25px;
        margin-top: -30px;
        margin-bottom: -30px;
        width: 70%;
    }

    li {
        line-height: 15px;
        font-size: 7pt;
    }

    img[alt="scaling plan"] {
        height: 90px;
    }
    .carousel img{
        height:200px;
        object-fit: cover;
        padding: 5px;
    }

    .carousel {
        align-items: center;
    }

    img[alt="multipage layout document"]{
       display: none;
        
    }
    #imagesmru {
        margin-top: -50px;
    }

    #imagesmru img{
        height: 250px;
    }
}

@media (min-width: 590px) and (max-width: 790px) {
    img[alt="scaling plan"] {
        height: 150px;

    }

    article h2 a {
        font-size: 12pt;
        line-height: 1px;
    }

    h2 a, h2{
        font-size: 12pt;
        line-height: 20px;
    }
    
    h3 {
        font-size: 10pt;
        width: 100%;
    }

    section {
        font-size: 10pt;
        width: 95%;
    }
    
    p {
        padding: 8px;
    }

    li {
        line-height: 25px;
    }

    .carousel img{
        height:350px;
        object-fit: cover;
        padding: 5px;

    }

    .carousel {
        float: left;
    }

    img[alt="multipage layout document"]{
        height:180px;
    }

    img[title="MRU Viewbook"] {
        height: 400px;
    }

}

@media (min-width: 790px) {
    img[alt="scaling plan"]{
        height: 200px;
    }

    #cover {
        float: right;
        padding: 5px;
        margin-top: -20px;
        overflow: auto;
    }

    #description {
        margin-bottom: 50px;
    }
    .carousel img{
        height:400px;
        object-fit: cover;
        padding: 5px;

    }

    .carousel {
        float: left;
    }

    p {
        padding: 10px;
    }

    img[alt="multipage layout document"]{
        height:230px;
    }

    img[title="MRU Viewbook"] {
        height: 600px;
    }
}